p{

    color: aliceblue;

    border-style: solid;
    /* 
    border-style: dotted;
    border-style: dashed;
    border-style: double;
    border-style: groove;
    border-style: inset;
    border-style: outset; 
    */

    border-width: 5px;
    border-color: gold;
    border-radius: 20px;
    padding:5px; /* add some space between the border and the words*/

}

h1{
    color: aliceblue;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style:double;
    border-right-style: double;

    border-left-width: 10px;
    border-left-color: aquamarine;
}

body{
    background-color: black;
}